/* login.page.scss */

ion-header {
    --background: #4CAF50; 
    --color: white; 
  }
  
  ion-toolbar {
    --background: #4CAF50; 
  }
  
  ion-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  ion-content {
    --background: #f1f8e9; 
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 15px; 
  }
  
  ion-label {
    font-size: 16px;
    color: #d9eb9d; 
  }
  
  ion-input {
    --background: #4CAF50; 
    --border-radius: 8px; 
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  ion-button {
    --background: #4CAF50; 
    --color: rgb(255, 255, 255); 
    --border-radius: 8px; 
    font-size: 16px;
    margin-top: 20px;
  }
  
  ion-button:hover {
    --background: #45a049; 
  }
  
  ion-button:focus {
    outline: none; 
  }
  
  ion-item:last-child {
    margin-bottom: 0; 
  }
  
  .alert-message {
    font-size: 16px;
    color: #ff3b30; 
  }
  