<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <!-- Display product thumbnail -->
      <ion-thumbnail slot="start">
        <img [src]="item.product.imageUrl" alt="{{ item.product.name }}">
      </ion-thumbnail>
      
      <!-- Product details -->
      <ion-label>
        <h2>{{ item.product.name }}</h2>
        <p>{{ item.product.price | currency }}</p>
        <p>Quantity: {{ item.quantity }}</p>
      </ion-label>
      
      <!-- Remove button -->
      <ion-button slot="end" color="danger" (click)="removeFromCart(item.id)">
        Remove
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
