<ion-header>
  <ion-toolbar>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h2>{{ item.item_name }}</h2>
        <p>{{ item.category }}</p>
        <p>Quantity: {{ item.quantity }}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="removeFromCart(item.basket_id)">
        Remove
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <ion-text color="medium">
      <h3>Your cart is empty.</h3>
    </ion-text>
  </ng-template>
</ion-content>
